{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@src": "./src"
        }
      }
    ],
    ["@babel/transform-runtime"]
  ]
}
